.container {
  width: 1000px; }

.headerlist .h_l1:hover {
  background: #f2f2f2; }

.headerlist .h_l2 {
  width: 65px; }

.headerlist .h_l2 a {
  width: 65px;
  color: #999; }

.headerlist .h_l2:hover a {
  color: #cc0001;
  text-decoration: underline; }

#user {
  display: none;
  font-size: 12px;
  color: #666; }

.abort {
  display: none;
  font-size: 12px;
  color: #666; }
  .abort:hover {
    text-decoration: underline; }

.midHeader {
  background: #fff;
  height: 90px;
  width: 100%; }
  .midHeader .jxwlogo {
    float: left;
    height: 63px;
    margin-top: 20px;
    width: 257px; }
    .midHeader .jxwlogo p {
      background: url(../img/jx_logo.jpg) no-repeat;
      float: left;
      width: 140px;
      height: 63px; }
      .midHeader .jxwlogo p a {
        display: block;
        height: 63px;
        width: 140px; }
  .midHeader .bayProcess {
    float: right;
    margin-top: 25px; }
    .midHeader .bayProcess .proPic {
      background: url(../img/ch_icon.png) no-repeat;
      margin: 0 26px 0 16px;
      width: 396px;
      height: 27px; }
    .midHeader .bayProcess .proYex {
      width: 438px;
      height: 16px;
      line-height: 16px;
      overflow: hidden;
      white-space: nowrap;
      margin-top: 8px; }
      .midHeader .bayProcess .proYex span {
        color: #666;
        margin-right: 117px;
        font-size: 12px; }
      .midHeader .bayProcess .proYex .on {
        color: #666; }

.cartMain {
  margin: 30px auto 0; }
  .cartMain .f_Prompt {
    height: 34px;
    line-height: 34px;
    font-size: 0;
    background: #fffcf8;
    border: 1px solid #ffdeb0;
    padding: 0 20px;
    margin-bottom: 20px; }
    .cartMain .f_Prompt .cartIcon {
      background: url(../img/cartIcon.png) no-repeat 0 0;
      display: inline-block;
      vertical-align: middle;
      background-position: 0 -20px;
      width: 13px;
      height: 18px;
      margin-right: 10px; }
    .cartMain .f_Prompt span {
      font-size: 12px;
      color: #666666;
      display: inline-block;
      vertical-align: middle;
      line-height: 34px; }
  .cartMain .cart_t {
    width: 100%; }
    .cartMain .cart_t .vart_filter_bar {
      width: 100%;
      height: 34px; }
      .cartMain .cart_t .vart_filter_bar .my_cart_tit {
        float: left;
        font-weight: bolder;
        color: #333;
        font-size: 14px;
        line-height: 34px; }
        .cartMain .cart_t .vart_filter_bar .my_cart_tit span {
          margin-left: 10px;
          position: relative;
          top: 1px;
          font-weight: bolder;
          color: #333;
          font-size: 14px;
          line-height: 34px; }
      .cartMain .cart_t .vart_filter_bar .areaBox {
        float: right;
        position: relative;
        height: 24px;
        margin: 0px 0px 0px 10px;
        width: 142px;
        height: 24px; }
      .cartMain .cart_t .vart_filter_bar .mz_distri_addr {
        float: right;
        height: 24px;
        line-height: 24px;
        color: #666;
        font-size: 12px; }
  .cartMain .cart_thead {
    height: 38px;
    line-height: 38px;
    border: 1px solid #e8e8e8; }
    .cartMain .cart_thead #allcheck {
      cursor: pointer;
      margin-left: 20px; }
    .cartMain .cart_thead .allcheckText {
      font-size: 12px;
      color: #333; }
    .cartMain .cart_thead .cartitle {
      width: 260px;
      display: inline-block;
      color: #999999;
      text-indent: 93px;
      font-size: 12px; }
    .cartMain .cart_thead .cartprice {
      display: inline-block;
      color: #999;
      text-align: center;
      min-height: 18px;
      width: 166px;
      font-size: 12px; }
    .cartMain .cart_thead .cartgold {
      width: 110px;
      color: #999;
      text-align: center;
      min-height: 18px;
      font-size: 12px;
      display: inline-block; }
    .cartMain .cart_thead .cartNum {
      width: 132px;
      color: #999;
      text-align: center;
      min-height: 18px;
      font-size: 12px;
      display: inline-block; }
    .cartMain .cart_thead .cartsubtotaltext {
      width: 140px;
      color: #999;
      text-align: center;
      min-height: 18px;
      font-size: 12px;
      display: inline-block; }
    .cartMain .cart_thead .cartoperating {
      font-size: 12px;
      color: #999; }
  .cartMain .cart_tbody {
    margin-top: 12px; }
    .cartMain .cart_tbody .cart_shop {
      border: 1px solid #fff;
      height: 38px;
      line-height: 38px; }
      .cartMain .cart_tbody .cart_shop .ckeckone {
        margin-left: 20px;
        margin-right: 10px; }
      .cartMain .cart_tbody .cart_shop .shoptype {
        display: inline-block; }
        .cartMain .cart_tbody .cart_shop .shoptype .cartjxzy {
          background: url(../img/cartIcon.png) no-repeat 0 0;
          background-position: -72px 0;
          width: 16px;
          height: 16px;
          display: inline-block;
          vertical-align: middle; }
        .cartMain .cart_tbody .cart_shop .shoptype span {
          font-size: 12px;
          color: #333;
          display: inline-block;
          vertical-align: middle; }
      .cartMain .cart_tbody .cart_shop .cartcheap {
        width: 68px;
        height: 29px;
        margin: 0 0 0 14px;
        display: inline-block;
        vertical-align: middle; }
        .cartMain .cart_tbody .cart_shop .cartcheap .voucher_wrap {
          cursor: pointer;
          width: 68px;
          height: 29px; }
          .cartMain .cart_tbody .cart_shop .cartcheap .voucher_wrap em {
            background: url(../img/cartIcon.png) no-repeat 0 0;
            background-position: -19px -209px;
            width: 3px;
            height: 29px;
            overflow: hidden;
            float: left; }
          .cartMain .cart_tbody .cart_shop .cartcheap .voucher_wrap .voucher_shell {
            margin-left: 3px;
            height: 27px;
            font-size: 0;
            line-height: 27px;
            border-top: 1px solid #ff999b;
            border-bottom: 1px solid #ff999b;
            border-right: 1px solid #ff999b;
            background: #fff6f6;
            text-align: center; }
            .cartMain .cart_tbody .cart_shop .cartcheap .voucher_wrap .voucher_shell span {
              font-size: 12px;
              color: #ef2525;
              display: inline-block;
              vertical-align: middle; }
            .cartMain .cart_tbody .cart_shop .cartcheap .voucher_wrap .voucher_shell i {
              background: url(../img/cartIcon.png) no-repeat 0 0;
              background-position: -26px -209px;
              width: 10px;
              height: 6px;
              margin-left: 5px;
              display: inline-block;
              vertical-align: middle; }
      .cartMain .cart_tbody .cart_shop .postage {
        float: right;
        color: #666666;
        font-size: 12px; }
        .cartMain .cart_tbody .cart_shop .postage span {
          color: #e6393d; }
    .cartMain .cart_tbody .cart_list_wrap {
      border-top: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
      border-left: 1px solid #e8e8e8; }
      .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list {
        background: #fffbf0;
        border-bottom: 1px solid #e8e8e8;
        padding: 20px 0; }
        .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods {
          width: 998px;
          height: 80px; }
          .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .checkBox {
            float: left;
            color: #999;
            text-align: center;
            min-height: 18px;
            margin: 0 0 0 20px;
            position: relative;
            width: 24px;
            height: 15px; }
          .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartgds {
            width: 300px;
            float: left;
            color: #999999;
            text-align: left; }
            .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartgds .goods_info {
              width: 290px;
              height: 80px;
              overflow: hidden; }
              .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartgds .goods_info .goods_img {
                width: 80px;
                height: 80px;
                float: left;
                position: relative; }
                .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartgds .goods_info .goods_img img {
                  max-width: 100%;
                  max-height: 100%;
                  float: left; }
              .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartgds .goods_info .goods_right {
                width: 200px;
                height: 360px;
                float: left; }
                .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartgds .goods_info .goods_right .goods_title {
                  height: 36px;
                  line-height: 18px;
                  overflow: hidden;
                  cursor: pointer;
                  font-size: 12px;
                  color: #333; }
                  .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartgds .goods_info .goods_right .goods_title:hover {
                    color: #e6393d; }
          .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartprice {
            width: 166px;
            float: left;
            text-align: center;
            min-height: 18px;
            color: #333;
            height: 18px;
            line-height: 18px;
            font-size: 12px; }
          .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartgold {
            width: 114px;
            float: left;
            color: #999;
            text-align: center;
            min-height: 18px; }
            .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartgold span {
              color: #333;
              height: 18px;
              line-height: 18px;
              font-size: 12px; }
          .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartquantity {
            width: 132px;
            float: left;
            color: #999;
            text-align: center;
            min-height: 18px; }
            .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartquantity .goodsnum {
              width: 80px;
              height: 20px;
              border: 1px solid #d0d0d0;
              background: #fff;
              margin: 0 auto;
              position: relative;
              top: -2px; }
              .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartquantity .goodsnum .reduce {
                display: block;
                float: left;
                width: 18px;
                height: 20px;
                border-right: 1px solid #d0d0d0;
                cursor: pointer;
                line-height: 20px; }
              .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartquantity .goodsnum .num {
                width: 42px;
                height: 20px;
                line-height: 20px;
                float: left;
                text-align: center; }
              .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartquantity .goodsnum .add {
                display: block;
                width: 18px;
                height: 20px;
                border-left: 1px solid #d0d0d0;
                float: left;
                cursor: pointer;
                line-height: 20px; }
          .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartsubtotal {
            width: 140px;
            float: left;
            text-align: center;
            min-height: 18px;
            font-size: 12px; }
            .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartsubtotal .gdstotalprice {
              color: #333;
              height: 18px;
              line-height: 18px;
              font-size: 12px; }
          .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartoperating {
            width: 102px;
            text-align: left;
            float: left; }
            .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartoperating p {
              cursor: pointer;
              font-size: 12px;
              color: #666;
              line-height: 18px;
              margin-bottom: 5px; }
              .cartMain .cart_tbody .cart_list_wrap .g_type .cart_list .cartgoods .cartoperating p:hover {
                text-decoration: underline; }

.cartGoPay {
  height: 60px;
  background: #f8f8f8;
  border: 1px solid #e8e8e8;
  width: 978px;
  margin-top: 20px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 50px; }
  .cartGoPay .cartGoPay_left {
    float: left;
    height: 60px; }
    .cartGoPay .cartGoPay_left .allcheck {
      margin-right: 10px;
      width: 15px;
      height: 15px;
      display: inline-block;
      vertical-align: middle; }
    .cartGoPay .cartGoPay_left .checkAllTxet {
      font-size: 12px;
      color: #333;
      display: inline-block;
      vertical-align: middle;
      line-height: 60px;
      margin-right: 30px; }
    .cartGoPay .cartGoPay_left a {
      color: #333;
      margin-right: 20px;
      line-height: 60px;
      font-size: 12px;
      display: inline-block; }
      .cartGoPay .cartGoPay_left a:hover {
        text-decoration: underline; }
  .cartGoPay .cart_count {
    padding: 5px 0;
    height: 50px;
    float: right;
    margin-right: 150px; }
    .cartGoPay .cart_count .cart_count_total {
      text-align: right;
      height: 25px;
      line-height: 25px; }
      .cartGoPay .cart_count .cart_count_total .pieces {
        margin-right: 25px;
        color: #333;
        font-size: 12px; }
        .cartGoPay .cart_count .cart_count_total .pieces em {
          color: #e43a3d;
          font-style: normal;
          font-size: 16px;
          margin: 0 5px; }
      .cartGoPay .cart_count .cart_count_total .total {
        color: #333;
        font-size: 12px; }
        .cartGoPay .cart_count .cart_count_total .total em {
          color: #f32828;
          font-style: normal;
          font-size: 20px; }
    .cartGoPay .cart_count .cart_count_offer {
      text-align: right;
      height: 25px;
      line-height: 25px; }
      .cartGoPay .cart_count .cart_count_offer span {
        font-size: 12px;
        color: #999; }
  .cartGoPay .cartGoPay_btn {
    width: 120px;
    height: 62px;
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 100; }
    .cartGoPay .cartGoPay_btn .done {
      display: inherit;
      background: #e43a3d;
      width: 120px;
      height: 62px;
      color: #fff;
      text-align: center;
      line-height: 62px;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none; }

/*# sourceMappingURL=car.css.map */
